@import 'node_modules/bootstrap/scss/bootstrap';
@import 'base/base';
@import 'components/components';
@import 'pages/pages';

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Structure
// - - - - - - - - - - - - - - - - - - - - - - - - - - -
div.structure{
    @include setFlex(column, start, center);
    @include resetBox;
}

div.interface{
    //@include setFlex(column, start, center);
    @extend .container-md;
    position: relative;
    width: 100%;
    min-height: 100vh;
    @include resetBox;
    padding-top : 64px;
}