div.fiche{
    @include setFlex(row, center, start); 
    @include resetBox;
    width : 100%;
    margin-top: 64px;
}

div.fiche .wrapImg{
    & img{
        display: block;
        width:400px;
    }
}

div.fiche div.wrapInfo{
    @include setFlex(column, space-between, start); 
    width: 100%;
    min-height: 200px;
    padding: 16px;
    
    & a{
        width: 220px ;
        display: block;
        //margin: 0 auto;
        padding: 16px 32px;
        border: 3px black solid;
        border-radius: 4px;
        background-color: #fafafa;
        &:hover{
            color: coral;
        }
    }
}