@font-face {
    font-family: 'Hoefler';
    src: url('@/assets/typo/HoeflerText.ttf') format('truetype');
    font-weight: 100 200 400 bold bolder;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;600&display=swap');