:root{
    --lightgray-dark: #D4D4D4;
    --lightgray: #E8E8E8;
    --lightgray-light: #FAFAFA;
    --bleu-dark: #48565C;
    --bleu: #57686F;
    --bleu-light: #667A82;
    --orange-dark: #DB7862;
    --orange: #F0826C;
    --orange-light: #FF8A72;
    --blackgray-dark: #262626;
    --blackgray: #404040;
    --blackgray-light: #595959;
    --vert-dark: #99A3A1;
    --vert: #AAB5B2;
    --vert-light: #BBC7C4;
    --blanc: #FFFFFF;
    --supportGray: #707070;
}