div.anim{
    @include setFlex(row, center, start);
    padding: 0 132px;
    margin: 0 auto;
    position: relative;
    width: 600px;
    height: 420px;

    & img {
        width: 280px;
    }
}

#anim_base_terminal{
    position: absolute;
    left: 100px;
    top: 200px;
    width: 280px;
    z-index: 5;
}

#anim_lecteur_terminal{
    position: absolute;
    left: 140px;
    top: 240px;
    width: 200px;
    z-index: 10;
}

#anim_carte{
    position: absolute;
    right: 100px;
    z-index: 8;
}

#anim_pouce{
    display: none;
    position: absolute;
    top: 200px;
}