// Exercice création composant
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Structure du nouveau composant
// - - - - - - - - - - - - - - - - - - - - - - - - - - -
div.composant {
    width: 50%;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1d3441;
}