div.fiche-perso{
    @include setFlex(column, center, center);
    @extend .container-md;
    width: 576px;
    border: 3px #000 solid;
    margin: 32px 0;
    padding : 32px; 

    & div.wrapPerso{
        @include setFlex(column, center, center);

        & div.wrapImg{
            @include setFlex(column, center, center);
            @include resetBox;
        }

        & div.wrapInfo{
            @include resetBox;
            margin-top: 16px;
        }
    } 
}