.warning{
    padding: 64px;
    background-color: orange;
    color: #fff;
}
.error{
    padding: 64px;
    background-color: red;
    color: #fff;
}
.texte{
    padding: 64px;
    background-color: lavender;
    color: #333;
}