// Consigne des exercices
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Structure des consignes
// - - - - - - - - - - - - - - - - - - - - - - - - - - -
article.consignes{
    @include setFlex(column, start, center);
    @extend .col-md-12;
    padding: 0 32px;
    margin: 64px 0;
    font-size: 1.2rem;

    & p{
        width: 70%;
    }
}