// Titre des sections principale de l'app
//----------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// structure du titre de section
// - - - - - - - - - - - - - - - - - - - - - - - - - - -
main > header{
    @extend .col-md-12;
    width: 100%;
    @include setFlex(column, center, center);
    @include resetBox;
    margin-top: 132px; 
    margin-bottom: 96px;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// titre de section
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

header > h1{
    @include resetBox;
    margin-bottom: 16px;
    padding: 0 32px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 3.4rem;
}

header > p.explication{
    @include resetBox;
    padding : 0 16px;
    width: 480px;
    text-align: center;
}